@import '~basics/colors/colors.scss';

.hig__global-nav__top-nav__shortcut {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;

  &:first-child {
    padding-left: 12px;
  }

  &:last-child {
    padding-right: 12px;
  }
}

.hig__global-nav__top-nav__shortcut__icon {
  margin: auto;
  vertical-align: middle;
}
